{% extends "layout.html" %}

{% block content %}
  <body>
    <div class="container">
      <div class="header">
  <h3 class="text-muted">Voted Resturant Details</h3>
      </div>
      <hr/>
      <h3>Delete All the Temp Data entered</h3>

      <div class="form-group">
        <div align="center" class="col-lg-offset-2 col-lg-2">
          <form action="" method="post">
          <input type="submit" class="btn btn-primary" value="Delete">
        </form>
        </div>
        {% endblock %}
  </body>
</html>
