{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
var image1 = new Image()
image1.src = "{{ url_for('static', filename = 'img/fast_food.png') }}"
var image2 = new Image()
image2.src = "{{ url_for('static', filename = 'img/fast_food.png') }}"
</script>
  <div class="jumbo">
    <h2>Resturant Voters<h2>
    <h3>Want to have a yummy day?
      <p><img src="{{ url_for('static', filename = 'img/fast_food.png') }}" width="500" height="300" name="slide" /></p>
    <script type="text/javascript">
        var step=1;
        function slideit()
        {
            document.images.slide.src = eval("image"+step+".src");
            if(step<2)
                step++;
            else
                step=1;
            setTimeout("slideit()",2500);
        }
        slideit();
    </script>
  </div>
{% endblock %}
